name: Lint-Jobs
on:
  pull_request:
permissions:
  contents: read
jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v3
        with:
          go-version: 1.21
      - uses: actions/checkout@v3
      - name: golangci-lint
        uses: golangci/golangci-lint-action@07341d3490e932bea2126ce313f1c3904a362b8a
        with:
          version: latest
          args: --enable=gofumpt --timeout 3m --verbose
